<!-- base/templates/base/register.html -->

{% extends "base.html" %}

{% block title %}
Register <!-- Sets the title to "Register" -->
{% endblock %}

{% block content %}

<h1 class="h2">New registration</h1>
<form action="" method="post">
    {% csrf_token %} <!-- CSRF token for security -->
    {{ form.as_p }} <!-- Django form as paragraph -->
    <input type="submit" value="Register"> <!-- Submit button for the form -->
    <p style="color: #333; font-size: 1.2rem; text-align: center; margin-top: 20px;">Already have an account? <a href="{% url 'login' %}">Login</a></p>
</form>

{% endblock %}
