<!-- base/templates/base/task_create.html -->

{% extends "base.html" %}

{% load static %}  <!-- Load static files for the CKEditor -->

<!-- Include CKEditor JavaScript file -->
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>

{% block title %}
New task
{% endblock %}

{% block content %} 

<h1 class="h2">New task</h1>

<form action="" method="post">
    {% csrf_token %}  <!-- CSRF token for security -->
    {{ form.media }}  <!-- Form media -->
    {{ form.as_p }}  <!-- Form fields -->
    <input type="submit" value="Finish"> 
</form>

<!-- Initialize CKEditor -->
<script>
    CKEDITOR.replace('id_description');  <!-- Replace textarea with id 'id_description' with CKEditor instance -->
</script>

{% endblock %}
