<!DOCTYPE HTML>
<html>
    <head>
        <title>HTTP vs HTTPS</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        
        th:nth-child(even),td:nth-child(even) {
          background-color: #b8d5d5;
        }
        </style>
        </head>
            <body>
                <h1>HTTP vs HTTPS</h1>
                <table border="1">
                    <tr>
                        <th>HTTP</th>
                        <th>HTTPS</th>
                    </tr>
                    <tr>
                        <td>HTTP stands for HyperText Transfer Protocol.</td>
                        <td>HTTPS for HyperText Transfer Protocol Secure.</td>
                    </tr>
                    <tr>
                        <td>HTTP works at Application Layer.</td>
                        <td>HTTPS works at Transport Layer.
                        </td>
                    </tr>
                    <tr>
                        
                        <td>In HTTP, Encryption is absent.</td>
                        <td>Encryption is present in HTTPS.</td>
                    </tr>
                    <tr>
                       
                        <td>In HTTP Data is transfer in plaintext.</td>
                        <td>In HTTPS Data transfer in ciphertext.</td>
                    </tr>
                    <tr>
                      
                        <td>HTTP Should be avoided</td>
                        <td>HTTPS Should be preferred.</td>
                    </tr>
                    <tr>
                        
                        <td>In HTTP Users ar  worried about their data.</td>
                        <td>In HTTPS Users are  confident about the security of their data.
                        </td>
                    </tr>
                
                </table>
            </body>
</html>
