<!DOCTYPE HTML>
<html>
<head>
    <title>HTTPS vs WWW</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        th:nth-child(even), td:nth-child(even) {
            background-color: #b8d5d5;
        }
    </style>
</head>
<body>
    <h1>HTTPS vs WWW</h1>
    <table border="1">
        <tr>
            <th>HTTPS</th>
            <th>WWW</th>
        </tr>
        <tr>
            <td>HTTPS stands for HyperText Transfer Protocol Secure.</td>
            <td>WWW stands for World Wide Web.</td>
        </tr>
        <tr>
            <td>HTTPS ensures secure communication over the internet.</td>
            <td>WWW represents the collection of web resources accessible via the internet.</td>
        </tr>
        <tr>
            <td>HTTPS encrypts data transferred between the user's browser and the website's server.</td>
            <td>WWW encompasses webpages, documents, and other resources identified by URLs.</td>
        </tr>
        <tr>
            <td>URLs using HTTPS start with "https://".</td>
            <td>The "www" prefix in URLs traditionally signifies the World Wide Web.</td>
        </tr>
    </table>
</body>
</html>
